body {
  background-color: #004A61;
  background-image: linear-gradient(transparent 50%, #FC4349 50%);
  background-size: 50px 50px;
}

#wrap {
  width: 1200px;
  max-width: 96%;
  margin: 3rem auto;
}

ul {
  list-style-type: none;
  margin: -3rem 0;
  padding: 0;
  text-align: center;
}

ul:first-child {
  margin: 0;
}

li {
  color: #FFF;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 6rem;
  width: 15%;

  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;

  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
}

@media only screen and (min-width:0px){
  ul {
    margin: 0;
  }

  li {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width:520px){
  ul {
    margin: -1.5rem 0;
  }

  li {
    font-size: 3rem;
  }
}

@media only screen and (min-width:768px){
  ul {
    margin: -1.5rem 0;
  }

  li {
    font-size: 4rem;
  }
}

@media only screen and (min-width:960px){
  ul {
    margin: -3rem 0;
  }

  li {
    font-size: 6rem;
  }
}